.container-custom {
  width: 80%;
}

.hero-header {
  background: linear-gradient(96.49deg, #320198 25.23%, #ffb700 70.95%);
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
